#control{
    float:right;
    width:1000px;
}

#chart {
    margin-left: -40px;
    height: 506px;
}

text {
    font: 14px sans-serif;
}

.dot {
    stroke: #000;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.label {
    fill: #777;
}

.date.label {
    font: 500 24px "Helvetica Neue";
    fill: #222222;
}

.date.label.active {
    fill: #aaa;
}

.overlay {
    fill: none;
    pointer-events: all;
    cursor: ew-resize;
}

.text{
    fill: #222222;
}

.labelner{
    font-size: 10px;
    color: #223344;
}