#dvLoading
{
/*   background:#000 url(images/loading.gif) no-repeat center center;*/
   height: 512px;
   width: 512px;
   position: fixed;
   z-index: 500;
   left: 35%;
   top: 20%;
   margin: -25px 0 0 -25px;
   opacity : 0.5;
}
/*
http://www.jquerybyexample.net/2012/06/show-loading-image-while-page-is.html
*/